---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import CardCategory from '../components/products/cardCategory';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import TestimonialsFade from '../components/promo/testimonialsFade';
import PromoSectionLarge from '../components/promo/promoSectionLarge';
---

<Layout title="Mobilă la comandă, la preț de fabrică in Barlad Moldova">
	<main>
    <Navbar />
    <PromoSectionLarge 
      title={"Mobila la comanda Moldova"}
      full_description={data.products[0].full_description}  
      pageHeaderBgImg={"../images/mobila-bg.webp"}
      pageHeaderMinVh="95vh"
    />
    <div class="container my-5">
      <div class="d-block text-center mb-5">
        <h3>
          Mobilă la comandă la preț de fabrică
        </h3>
        <p class="text-dark font-weight-bold" >
          Fabrică de mobilă la comandă în Barlad, vinde din stoc sau la comandă, mobilă bucătărie, mobilă dormitor, mobilă living, paturi tapițate și canapele.
        </p>
      </div>  
      <div class="row mb-5">
        {data.categories.slice(0, 4).map(category => 
          <div class="col-md-4">
            <CardCategory
              thumb_src = {category.thumb_src}
              collection = {category.collection}
              title = {category.title}
            />
          </div>
        )}
      </div>
    
    <Footer />

    </div>
  </main>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YFZYSJ9QJM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)}
    gtag('js', new Date());
  
    gtag('config', 'G-YFZYSJ9QJM');
  </script>
</Layout>